body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F6AD2A;
}

.scroll {
    background-color: #0C66AA;
    border-radius: 30px;
    padding: 30px;
}

.title {
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
    font-size: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 141px;
}

div.scrollacces {
    background-color: #ffffff82;
    overflow: auto;
    white-space: nowrap;
    border-radius: 30px;
}

div.scrollacces a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.img {
    border-radius: 30px;
}

div.scrollacces a:hover {
    background-color: #777;

}

.scrollacces div {
    display: inline-block;

}

.outfits,
.comida,
.juguetes,
.accesorios {
    background-color: #F6AD2A;
    border-radius: 30px;
    text-align: center;
    padding: auto;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-left: 141px;
    width: 80%;

}