body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0C66AA;
}

.titulo_text {
    text-align: center;
    background: #0C66AA;
    border-radius: 20px;
    color: #ffffff;
    font-size: 45px;
    width: 60%;
    padding: 30px;
}

.titulo {
    display: flex;
    justify-content: center;
}

.enlaces {
    font-size: 23px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}


.enlaces a {
    height: 25px;
    width: 200px;
    margin: 15px 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.enlaces a:hover {
    color: #ffffff;
    height: 50px;
    width: 200px;
    margin-top: -2px;
}

a {
    text-decoration: none;
    color: #000000;
}

.scroll {
    background-color: #F6AD2A;
    border-radius: 30px;
    padding: 30px;
}

.title {
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
    font-size: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 141px;
}

div.scrolloutfit {
    background-color: #ffffff82;
    overflow: auto;
    white-space: nowrap;
    border-radius: 30px;    
}

div.scrollacces {
    background-color: #ffffff82;
    overflow: auto;
    white-space: nowrap;
    border-radius: 30px;    
}

.scrolloutfit::-webkit-scrollbar {
    height: 15px;
}

.scrollacces::-webkit-scrollbar {
    height: 15px;
}

.scrolloutfit::-webkit-scrollbar-track {
    background: #fed79f;
    border-radius: 30px;
}

.scrollacces::-webkit-scrollbar-track {
    background: #fed79f;
    border-radius: 30px;
}

.scrolloutfit::-webkit-scrollbar-thumb {
    background-color: #fed79f;
    border-radius: 10px;
    border: 5px solid #0C66AA;
  }

.scrollacces::-webkit-scrollbar-thumb {
    background-color: #fed79f;
    border-radius: 10px;
    border: 5px solid #0C66AA;
  }

div.scrolloutfit a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollacces a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.img {
    border-radius: 30px;
}

div.scrolloutfit a:hover {
    background-color: #0094f3;

}

div.scrollacces a:hover {
    background-color: #0094f3;

}

.scrolloutfit div {
    display: inline-block;
}

.scrollacces div {
    display: inline-block;
}

.outfits,
.comida,
.juguetes,
.accesorios {
    background-color: #0C66AA;
    color: #ffffff;
    border-radius: 30px;
    text-align: center;
    padding: auto;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-left: 141px;
    width: 80%;

}