body {
    background-color: #F6AD2A;
    color: white font-family Arial, sans-serif;
    align-items: center;
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    height: 820px;
}

.titulo_text {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    width: 70%;
    padding: 30px;
}

.titulo {
    display: flex;
    justify-content: center;
    background-color: #0C66AA;
    padding: -10px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 80%;
    height: 115px;
    text-align: center;
}

.enlaces {
    padding: 20px;
    font-size: 23px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    width: 85%;
}


.enlaces a {
    height: 25px;
    width: 200px;
    margin: 15px 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.enlaces a:hover {
    color: #ffffff;
    height: 50px;
    width: 200px;
    margin-top: -2px;
}

a {
    text-decoration: none;
    color: #000000;
}

form {
    height: auto;
    width: 80%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*     margin: 40px;
 */
}

h1 {
    color: #004579;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
    margin-top: -2px;
}

.primera_parte {
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    font-family: pass through;

}



select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}