body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0C66AA;
  color: black;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.titulo_text {
  text-align: center;
  font-size: 35px;
  width: 80%;
  margin-top: 4%;
}

.titulopri {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  background: #F6AD2A;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
  height: 125px;
  margin-top: 10px;
}

.enlaces {
  padding: 20px;
  font-size: 23px;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
}


.enlaces a {
  height: 25px;
  width: 200px;
  margin: 15px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.enlaces a:hover {
  color: #000000;
  height: 50px;
  width: 200px;
  margin-top: -2px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.card {
  border: 1px solid #2c71e7;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: #F6AD2A;
  display: flex;
  padding: 30px;
}

.cont {
  padding: 10px;
}

.button {
  background-color: #ffffff;
}

.card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 300px;
  height: 250px;

}

.titulo {
  color: black;
  border: 1px solid#2c71e7;
  border-radius: 30px;
  padding: 5px;
  background-color: #F6AD2A;
}

h1 {
  text-align: center
}